:root {
    box-sizing: border-box;
    --main-fg-color: #00AAFF;
    --main-bg-color: #010B10;
    --main-white: #FFFFFF;
    --main-balck: #121212;
    --sub-black: #000205;
    font-family: 'Open Sans', sans-serif;
}

.blue {
    color: var(--main-fg-color);
}

.black {
    color: var(--main-bg-color);
}

.white {
    color: var(--main-white);
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--main-balck);
}

@media (min-width: 900px) {
    .hamburger {
        display: none;
    }

    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--main-bg-color);
        /*padding: 0.3em;*/
        border-radius: 0.5em;
        border: 0.1em solid var(main-balck);
        align-items: center;
    }


    .nav-items>ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    .brand-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand-logo>a {
        text-decoration: none;
    }

    .nav-items>ul>li {
        margin: 1em;
        border: 0.15em solid var(--main-fg-color);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        color: var(--main-white);
        transition: 0.3s;
    }

    .nav-items>ul>li:hover,
    :focus {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .nav-items>ul>li>a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        user-select: none;
    }

    .mobile-nav {
        display: none;
    }

    .button {
        color: var(--main-white);
        width: 10em;
        text-align: center;
        margin: 1em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        border: 0.15em solid var(--main-fg-color);
        cursor: pointer;
        transition: 0.3s;
    }

    .button>h3>a {
        color: var(--main-white);
        text-decoration: none;
    }

    .button:hover,
    :focus {
        color: var(--sub-black);
        background-color: var(--main-fg-color);
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login>div {
        display: flex;
        margin: 2em 0em 0em 0em;
        flex-direction: row;
        border-radius: 1.5em;
        border: 0.2em solid var(--main-fg-color);
        background-color: var(--sub-black);
    }

    .form,
    .sidebar {
        width: 520px;
        padding: 3em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form {
        border-right: 0.2em solid var(--main-fg-color);
    }

    .form>input {
        width: 18em;
        padding: 0.5em;
        height: 3em;
        text-align: center;
        margin: 1em;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 0.5em;
    }

    .event-card {
        width: 350px;
        border: 0.2em solid var(--main-fg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        border-radius: 0.5em;
        background-color: var(--sub-black);
    }

    .events {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .image-carousel {
        display: flex;
        width: 800px;
        height: 500px;
        transition: 0.5s;
        border: 0.2em solid var(--main-fg-color);
        margin: 1em auto;
        border-radius: 0.8em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }

    .carousel-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .carousel-container>div.button {
        width: 8em;
        height: 3em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }


    /*these properties are related to carousel*/

    .rec-arrow{
      margin: 1em !important;
    }

    .rec-arrow:hover{
      background-color: var(--main-fg-color) !important;
    }

    .rec-dot{
      display: none;
    }

    .rec-carousel{
      height: 530px !important;
    }

    .carousel-image{
      width: 780px;
    }

}





/*css for ipad*/


@media (max-width: 900px) and (min-width: 521px) {
    .hamburger {
        display: none;
    }

    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--main-bg-color);
        /*padding: 0.3em;*/
        border-radius: 0.5em;
        border: 0.1em solid var(main-balck);
        align-items: center;
    }


    .nav-items>ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    .brand-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand-logo>a {
        text-decoration: none;
    }

    .nav-items>ul>li {
        margin: 1em;
        border: 0.15em solid var(--main-fg-color);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        color: var(--main-white);
        transition: 0.3s;
    }


    .nav-items>ul>li>a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        user-select: none;
    }


    .nav-items>ul>li:hover,
    :focus {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .mobile-nav {
        display: none;
    }

    .button {
        color: var(--main-white);
        width: 10em;
        text-align: center;
        margin: 1em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        border: 0.15em solid var(--main-fg-color);
        cursor: pointer;
    }

    .form {
        width: 720px;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 1.5em;
        padding: 3em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3em 1em;
        background-color: var(--sub-black);
    }

    .form>input {
        width: 18em;
        padding: 0.5em;
        height: 3em;
        text-align: center;
        margin: 1em;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 0.5em;
        color: var(--main-balck);
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        display: none;
    }

    .button {
        color: var(--main-white);
        width: 10em;
        text-align: center;
        margin: 1em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        border: 0.15em solid var(--main-fg-color);
        cursor: pointer;
    }

    .button>h3>a {
        color: var(--main-white);
        text-decoration: none;
    }

    .button:hover {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .event-card {
        width: 350px;
        border: 0.2em solid var(--main-fg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        border-radius: 0.5em;
        background-color: var(--sub-black);
    }

    .events {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .image-carousel {
        display: flex;
        width: 700px;
        height: 400px;
        transition: 0.5s;
        border: 0.2em solid var(--main-fg-color);
        margin: 1em auto;
        border-radius: 0.8em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }

    .carousel-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .carousel-container>div.button {
        width: 8em;
        height: 3em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }


    /*these properties are related to carousel*/

    .rec-arrow{
      display: none;
    }

    .rec-dot_active{
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
      background-color: var(--main-fg-color) !important;
    }

    .rec-dot{
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
    }

    .rec-dot:hover{
      cursor: pointer !important;
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
    }


    .rec-arrow:hover{
      background-color: var(--main-fg-color) !important;
    }

    .carousel-image{
      width: 680px;
    }

    .rec-carousel{
      height: 430px !important;
    }
}
















/*here is our mobile design */

@media (min-width: 360px) and (max-width: 520px) {
    .hamburger {
        padding: 0.2em;
        border: 0.15em solid var(--main-fg-color);
        border-radius: 0.5em;
        display: block;
        cursor: pointer;
    }

    .hamburger>div {
        width: 2em;
        height: 0.2em;
        display: flex;
        margin: 0.3em;
        justify-content: space-around;
        background-color: var(--main-white);
        border-radius: 1em;
    }

    .hamburger:hover,
    :focus {
        background-color: var(--main-balck);
        border-radius: 0.5em;
    }

    .mobile-nav {
        display: none;
        position: absolute;
        background-color: var(--main-balck);
        width: 100%;
        z-index: 100;
    }

    .mobile-nav>ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        display: block;
        align-items: center;
        height: 100%;
    }

    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--main-bg-color);
        padding: 0.5em;
        border-radius: 0.5em;
        border: 0.1em solid var(main-balck);
        align-items: center;
    }

    .nav-items {
        display: none;
    }

    .mobile-nav>ul>li {
        margin: 3em;
        border: 0.15em solid var(--main-fg-color);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        color: var(--main-white);
        text-align: center;
    }

    .mobile-nav>ul>li:hover,
    :focus {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .mobile-nav>ul>li>a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }

    .form {
        min-width: 360px;
        max-width: 520px;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 1.5em;
        padding: 3em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3em 1em;
        background-color: var(--sub-black);
    }

    .form>input {
        width: 18em;
        padding: 0.5em;
        height: 3em;
        text-align: center;
        margin: 1em;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 0.5em;
        color: var(--main-balck);
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        display: none;
    }

    .button {
        color: var(--main-white);
        width: 10em;
        text-align: center;
        margin: 1em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        border: 0.15em solid var(--main-fg-color);
        cursor: pointer;
    }

    .button>h3>a {
        color: var(--main-white);
        text-decoration: none;
    }

    .button:hover {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .event-card {
        width: 350px;
        border: 0.2em solid var(--main-fg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        background-color: var(--sub-black);
        border-radius: 0.5em;
    }

    .events {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-carousel {
        display: flex;
        width: 350px;
        height: 200px;
        transition: 0.5s;
        border: 0.2em solid var(--main-fg-color);
        margin: 2em auto;
        border-radius: 0.8em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }

    .carousel-image{
      width: 350px;
      height: 200px;
    }

    .carousel-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .corousel-container>div.button {
        display: none;
        width: 8em;
        height: 3em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }

    .carousel-image{
      width: 330px;
    }

    .rec-arrow{
      display: none;
    }

    /*these properties are related to carousel*/

    .rec-dot_active{
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
      background-color: var(--main-fg-color) !important;
    }

    .rec-dot{
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
    }

    .rec-dot:hover{
      cursor: pointer !important;
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
    }

    .rec-carousel{
      height: 350px;
    }

}