:root {
    box-sizing: border-box;
    --main-fg-color: #ff000d;
    --main-bg-color: #f5f5f5;
    --main-black: #FFFFFF;
    --main-white: #121212;
    --sub-black: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

.blue {
    color: var(--main-fg-color);
}

.black {
    color: var(--main-bg-color);
}

.white {
    color: var(--main-white);
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}




a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a::selection {
    background: none;
}

body {
    background-color: var(--main-balck);
}

@media (min-width: 900px) {
    .hamburger {
        display: none;
    }

    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--main-bg-color);
        /*padding: 0.3em;*/
        border-radius: 0.5em;
        border: 0.1em solid var(main-balck);
        align-items: center;
    }


    .nav-items>ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    .brand-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand-logo>a {
        text-decoration: none;
    }

    .nav-items>ul>li {
        margin: 1em;
        border: 0.15em solid var(--main-fg-color);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        color: var(--main-white);
        transition: 0.3s;
    }

    .nav-items>ul>li:hover {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .nav-items>ul>li>a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        user-select: none;
    }

    .mobile-nav {
        display: none;
    }

    .button {
        color: var(--main-white);
        text-align: center;
        margin: 1em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        border: 0.15em solid var(--main-fg-color);
        cursor: pointer;
        transition: 0.3s;
    }

    .button>h3>a {
        color: var(--main-white);
        text-decoration: none;
    }

    .button:hover {
        color: var(--sub-black);
        background-color: var(--main-fg-color);
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login>div {
        display: flex;
        margin: 2em 0em 0em 0em;
        flex-direction: row;
        border-radius: 1.5em;
        border: 0.2em solid var(--main-fg-color);
        background-color: var(--sub-black);
    }

    .form,
    .sidebar {
        width: 520px;
        padding: 3em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form {
        border-right: 0.2em solid var(--main-fg-color);
    }

    .form>input {
        width: 18em;
        padding: 0.5em;
        height: 3em;
        text-align: center;
        margin: 1em;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 0.5em;
    }

    .event-card {
        width: 350px;
        border: 0.2em solid var(--main-fg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        border-radius: 0.5em;
        background-color: var(--sub-black);
    }

    .events {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .image-carousel {
        display: flex;
        width: 800px;
        height: 500px;
        transition: 0.5s;
        border: 0.2em solid var(--main-fg-color);
        margin: 8em auto;
        border-radius: 0.8em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }

    .carousel-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .carousel-container>div.button {
        width: 8em;
        height: 3em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }

    /* these are for home page */

    .homepage-main-part {
        display: flex;
        flex-direction: row;
        width: 1300px;
        justify-content: space-between;
        margin: 13em auto;
        align-items: center;
    }

    .homepage-main-part-content>h1 {
        color: var(--main-fg-color);
        text-shadow: 0.2em 0.2em 0.2em var(--main-bg-color);
        font-size: 3em;
        margin-bottom: 0.3em;
    }

    .homepage-main-part-content {
        width: 80em;
        margin-right: 10em;
    }

    .homepage-main-part-content>span {
        color: var(--main-white);
        font-size: 1.2em;
    }

    .homepage-main-part-image > img {
        width: 60em;
    }

    /* poperties related to booking page page */
    .booking-page-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1em;
        background-color: var(--sub-black);
        border-radius: 0.5em;
    }

    .booking-container {
        display: flex;
        flex-direction: column;
        width: 350px;
        justify-content: center;
        margin: 2em auto;
    }

    .booking-input {
        padding: 0.5em 1em;
        border-radius: 0.5em;
        background-color: var(--main-balck);
        border: 0.15em solid var(--sub-black);
        color: var(--main-fg-color);
        margin: 1em;
    }

    .booking-input:hover {
        border: 0.15em solid var(--main-fg-color);
        box-shadow: 0.1em 0.1em 1em var(--sub-black);
        outline: none;
    }

    .booking-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: min-content;
        margin: 0 auto;
        padding: 1em;
        border: 0.15em solid;
        border-radius: 0.5em;
        color: var(--main-fg-color);
        margin-top: 2em;
    }

    .booking-page:hover {
        box-shadow: 0.1em 0.1em 2em var(--sub-black);
    }

    .schedule-table-header {
        width: 400px;
        font-size: 1.2em;
        font-weight: bold;
        color: var(--main-fg-color);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
        gap: 1em;
        margin: 2em auto;
        text-align: center;
    }

    .schedule-table-results {
        width: 400px;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
        gap: 1em;
        margin: 2em auto;
        text-align: center;
    }

    .schedule-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: min-content;
        margin: 0 auto;
        padding: 1em;
        border: 0.15em solid;
        border-radius: 0.5em;
        color: var(--main-fg-color);
        margin-top: 2em;
    }
}





/*css for ipad*/


@media (max-width: 900px) and (min-width: 521px) {
    .hamburger {
        display: none;
    }

    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--main-bg-color);
        /*padding: 0.3em;*/
        border-radius: 0.5em;
        border: 0.1em solid var(main-balck);
        align-items: center;
    }


    .nav-items>ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    .brand-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand-logo>a {
        text-decoration: none;
    }

    .nav-items>ul>li {
        margin: 1em;
        border: 0.15em solid var(--main-fg-color);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        color: var(--main-white);
        transition: 0.3s;
    }


    .nav-items>ul>li>a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        user-select: none;
    }


    .nav-items>ul>li:hover {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .mobile-nav {
        display: none;
    }

    .button {
        color: var(--main-white);
        width: 10em;
        text-align: center;
        margin: 1em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        border: 0.15em solid var(--main-fg-color);
        cursor: pointer;
    }

    .form {
        width: 720px;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 1.5em;
        padding: 3em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3em 1em;
        background-color: var(--sub-black);
    }

    .form>input {
        width: 18em;
        padding: 0.5em;
        height: 3em;
        text-align: center;
        margin: 1em;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 0.5em;
        color: var(--main-balck);
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        display: none;
    }

    .button {
        color: var(--main-white);
        width: 10em;
        text-align: center;
        margin: 1em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        border: 0.15em solid var(--main-fg-color);
        cursor: pointer;
    }

    .button>h3>a {
        color: var(--main-white);
        text-decoration: none;
    }

    .button:hover {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .event-card {
        width: 350px;
        border: 0.2em solid var(--main-fg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        border-radius: 0.5em;
        background-color: var(--sub-black);
    }

    .events {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .image-carousel {
        display: flex;
        width: 700px;
        height: 400px;
        transition: 0.5s;
        border: 0.2em solid var(--main-fg-color);
        margin: 1em auto;
        border-radius: 0.8em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }

    .carousel-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .carousel-container>div.button {
        width: 8em;
        height: 3em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }


    /*these properties are related to carousel*/

    .rec-arrow{
      display: none;
    }

    .rec-dot_active{
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
      background-color: var(--main-fg-color) !important;
    }

    .rec-dot{
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
    }

    .rec-dot:hover{
      cursor: pointer !important;
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
    }


    .rec-arrow:hover{
      background-color: var(--main-fg-color) !important;
    }

    .carousel-image{
      width: 680px;
    }

    .rec-carousel{
      height: 430px !important;
    }

    /* this is for our home page */
    .homepage-main-part {
        display: flex;
        flex-direction: column-reverse;
        width: 750px;
        justify-content: space-between;
        margin: 13em auto;
        align-items: center;
    }

    .homepage-main-part-content>h1 {
        color: var(--main-fg-color);
        text-shadow: 0.2em 0.2em 0.2em var(--main-bg-color);
        font-size: 3em;
        margin-bottom: 0.3em;
    }

    .homepage-main-part-content {
        width: 30em;
        margin-right: 10em;
        text-align: center;
        margin: 5em auto;
    }

    .homepage-main-part-content>span {
        color: var(--main-white);
        font-size: 1.2em;
    }

    .homepage-main-part-image > img {
        width: 30em;
    }
}
















/*here is our mobile design */

@media (min-width: 360px) and (max-width: 520px) {
    .hamburger {
        padding: 0.2em;
        border: 0.15em solid var(--main-fg-color);
        border-radius: 0.5em;
        display: block;
        cursor: pointer;
    }

    .hamburger>div {
        width: 2em;
        height: 0.2em;
        display: flex;
        margin: 0.3em;
        justify-content: space-around;
        background-color: var(--main-white);
        border-radius: 1em;
    }

    .hamburger:hover {
        background-color: var(--main-balck);
        border-radius: 0.5em;
    }

    .mobile-nav {
        display: flex;
        background-color: var(--main-balck);
        width: 100%;
        z-index: 100;
    }

    .mobile-nav>ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        align-items: center;
        width: 100%;
    }

    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--main-bg-color);
        padding: 0.5em;
        border-radius: 0.5em;
        border: 0.1em solid var(main-balck);
        align-items: center;
    }

    .nav-items {
        display: none;
    }

    .mobile-nav>ul>li {
        margin: 1em;
        border: 0.15em solid var(--main-fg-color);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        color: var(--main-white);
        text-align: center;
    }

    .mobile-nav>ul>li:hover {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .mobile-nav>ul>li>a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }

    .form {
        min-width: 360px;
        max-width: 520px;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 1.5em;
        padding: 3em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3em 1em;
        background-color: var(--sub-black);
    }

    .form>input {
        width: 18em;
        padding: 0.5em;
        height: 3em;
        text-align: center;
        margin: 1em;
        border: 0.2em solid var(--main-fg-color);
        border-radius: 0.5em;
        color: var(--main-balck);
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        display: none;
    }

    .button {
        color: var(--main-white);
        text-align: center;
        margin: 1em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        border: 0.15em solid var(--main-fg-color);
        cursor: pointer;
    }

    .button>h3>a {
        color: var(--main-white);
        text-decoration: none;
    }

    .button:hover {
        color: var(--main-balck);
        background-color: var(--main-fg-color);
    }

    .event-card {
        width: 350px;
        border: 0.2em solid var(--main-fg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        background-color: var(--sub-black);
        border-radius: 0.5em;
    }

    .events {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-carousel {
        display: flex;
        width: 350px;
        height: 200px;
        transition: 0.5s;
        border: 0.2em solid var(--main-fg-color);
        margin: 2em auto;
        border-radius: 0.8em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }

    .carousel-image{
      width: 350px;
      height: 200px;
    }

    .carousel-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 20em;
    }

    .corousel-container>div.button {
        display: none;
        width: 8em;
        height: 3em;
        box-shadow: 0.3em 0.3em 0.4em black;
    }

    .carousel-image{
      width: 330px;
    }

    .rec-arrow{
      display: none;
    }

    /*these properties are related to carousel*/

    .rec-dot_active{
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
      background-color: var(--main-fg-color) !important;
    }

    .rec-dot{
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
    }

    .rec-dot:hover{
      cursor: pointer !important;
      box-shadow: 0 0 1px 3px var(--main-fg-color) !important;
    }

    .rec-carousel{
      height: 350px;
    }

     /* this is for our home page */
     .homepage-main-part {
        display: flex;
        flex-direction: column-reverse;
        width: 350px;
        justify-content: space-between;
        margin: 5em auto;
        align-items: center;
        margin-bottom: 0;
    }

    .homepage-main-part-content>h1 {
        color: var(--main-fg-color);
        text-shadow: 0.2em 0.2em 0.2em var(--main-bg-color);
        font-size:2em;
        margin-bottom: 0.3em;
    }

    .homepage-main-part-content {
        width: 350px;
        text-align: center;
        margin: 5em auto;
    }

    .homepage-main-part-content>span {
        color: var(--main-white);
        font-size: 1em;
    }

    .homepage-main-part-image > img {
        width: 350px;
    }

    .booking-page-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1em;
        background-color: var(--sub-black);
        border-radius: 0.5em;
    }

    .booking-container {
        display: flex;
        flex-direction: column;
        width: 350px;
        justify-content: center;
        margin: 2em auto;
    }

    .booking-input {
        padding: 0.5em 1em;
        border-radius: 0.5em;
        background-color: var(--main-balck);
        border: 0.15em solid var(--sub-black);
        color: var(--main-fg-color);
        margin: 1em;
    }

    .booking-input:hover {
        border: 0.15em solid var(--main-fg-color);
        box-shadow: 0.1em 0.1em 1em var(--sub-black);
        outline: none;
    }

    .booking-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: min-content;
        margin: 0 auto;
        padding: 1em;
        border: 0.15em solid;
        border-radius: 0.5em;
        color: var(--main-fg-color);
        margin-top: 2em;
    }

    .booking-page:hover {
        box-shadow: 0.1em 0.1em 2em var(--sub-black);
    }

    .schedule-table-header {
        width: 400px;
        font-size: 1.2em;
        font-weight: bold;
        color: var(--main-fg-color);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
        gap: 1em;
        margin: 2em auto;
        text-align: center;
    }

    .schedule-table-results {
        width: 400px;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
        gap: 1em;
        margin: 2em auto;
        text-align: center;
    }

    .schedule-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: min-content;
        margin: 0 auto;
        padding: 1em 0em;
        border: 0.15em solid;
        border-radius: 0.5em;
        color: var(--main-fg-color);
        margin-top: 2em;
    }

}